name: Deploy Docs

on: 
  workflow_run:
    workflows: ["CI"]
    types:
     - completed
    branches: 
     - gh-pages

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conlusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-versio }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-versio }}
      
      - name: Install dependecies
        run: |
          python -m pip install --updagrade pip
          pip install -r requirements.txt
    
      - name: Deploy to Netlify
        run: echo ' Deploy to Netlify '
