name: Publish Python Package

on:
  push:
    tags:
      - v*.*.*  # Isso será acionado quando uma tag que começa com "v" seguida por números, como v1.0.0, for criada
    branches:
      - main 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12.2 # Substitua pela versão do Python que você deseja usar

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Build the package
      run: python setup.py sdist bdist_wheel

    - name: Publish to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        echo " ${{ secrets.PYPI_API_TOKEN }} "
        twine upload dist/*
